@media(max-width: 8000px){
      .anim-box{
        position: relative;
        width: 300px;
        height: 300px;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
      }
      .flex{
        display: flex;
      }
      .anim-box span{
        position: absolute;
        top:  100px;
        left: 100px;
        height: 70px;
        width: 70px;
        background-color: #ff0019;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
        animation-delay: calc(-0.5s * var(--i));
      }

      @keyframes pulse{
        
        0%{
          opacity: .5;
          transform: scale(1); 
        }

        100%{
          opacity: 0;
          transform: scale(5);   
        }

      }
      .rocket-icon{
        position: absolute;
        top:  105px;
        left: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateY(30deg);
        animation: rocket .15s linear infinite;
      }
      .rocket-icon:before{
        content: '';
        position: absolute;
        top: 60px;
        left: 20px;
        width: 20px;
        height: 60px;
        background: linear-gradient(#ffff00 , transparent);
        filter: blur(2px);
      }
      @keyframes rocket{
      
        0%{
          transform: translateY(-.75px);
        }

        50%{
          transform: translateY(0px);
        }

        100%{
          transform: translateY(-.75px);
        }

      }
      .fText{
          color: aliceblue;
          position: relative;
          border: 0;
          border-radius: 5px;
          padding: 15px 40px;
          font-size: 18px;
          font-weight: 600;
          background: linear-gradient(to bottom right, rgb(235, 19, 84) , rgb(240, 23, 41));
      }
      .fText:hover{
        transition: .5s ease;
        transform: scale(1.1);
      }
      .textContainer{
        margin-top: 14%;
        margin-right: 30vw;  
    }
    .textDeco{
        text-decoration: none;
    }
}

@media(max-width: 768px){
  .flex{
    display: list-item;
  }
  .textContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}